#ignore everything
*
#except these files
!.gitignore
!.gitattributes
!Dockerfile
!README.md
!*Rmd
!references.bib
!_output.yml
!*.sh
!_build+deploy.R
!img/
!img/*
!.circleci/
!.circleci/*
!*.Rproj
!_init.R
!asa.csl
!.R/snippets/
!.R/snippets/*
.Rproj.user
