.figure {
  margin-top: 50px;
  margin-bottom: 50px;
}
.table {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
/*.book .book-body .page-wrapper .page-inner {
  max-width: 90%;
}*/
